In [ ]:
"""
Scout’lar tarafından izlenen futbolcuların özelliklerine verilen puanlara göre, oyuncuların hangi sınıf
(average, highlighted) oyuncu olduğunu tahminleme.

According to the points given to the characteristics of football players watched by scouts, which class of players
(average, highlighted) Do not guess that you are an actor.
"""

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate, validation_curve
from sklearn.metrics import precision_score, f1_score, recall_score, roc_auc_score, accuracy_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
#from xgboost import XGBClassifier
#from lightgbm import LGBMClassifier
#from catboost import CatBoostClassifier
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", lambda x: "%.3f" % x)
pd.set_option("display.width", 500)
import warnings
warnings.simplefilter(action="ignore")

# scoutium_attributes.csv ve scoutium_potential_labels.csv dosyalarını okutuyoruz.
attributes_df = pd.read_csv("scoutium_attributes.csv", sep=";")
potential_df = pd.read_csv("scoutium_potential_labels.csv", sep=";")

In [6]:
attributes_df.head()

   task_response_id  match_id  evaluator_id  player_id  position_id  analysis_id  attribute_id  attribute_value
0              4915     62935        177676    1361061            2     12818495          4322           56.000
1              4915     62935        177676    1361061            2     12818495          4323           56.000
2              4915     62935        177676    1361061            2     12818495          4324           67.000
3              4915     62935        177676    1361061            2     12818495          4325           56.000
4              4915     62935        177676    1361061            2     12818495          4326           45.000

In [3]:
potential_df.head()

   task_response_id  match_id  evaluator_id  player_id potential_label
0              4915     62935        177676    1361061         average
1              4915     62935        177676    1361626     highlighted
2              4915     62935        177676    1361858         average
3              4915     62935        177676    1362220     highlighted
4              4915     62935        177676    1364951     highlighted

In [7]:
# Okutmuş olduğumuz csv dosyalarını merge fonksiyonunu kullanarak birleştiriniz.
# ("task_response_id", 'match_id', 'evaluator_id' "player_id" 4 adet değişken üzerinden birleştirme işlemini gerçekleştiriniz.)
df = attributes_df.merge(potential_df, on=["task_response_id", "match_id", "evaluator_id", "player_id"])
df.head()

   task_response_id  match_id  evaluator_id  player_id  position_id  analysis_id  attribute_id  attribute_value potential_label
0              4915     62935        177676    1361061            2     12818495          4322           56.000         average
1              4915     62935        177676    1361061            2     12818495          4323           56.000         average
2              4915     62935        177676    1361061            2     12818495          4324           67.000         average
3              4915     62935        177676    1361061            2     12818495          4325           56.000         average
4              4915     62935        177676    1361061            2     12818495          4326           45.000         average

In [9]:
# position_id içerisindeki Kaleci (1) sınıfını veri setinden kaldırınız.
df = df.loc[~(df["position_id"] == 1)]
df["position_id"].unique()

array([ 2, 10,  6,  5,  9,  7,  4,  3,  8], dtype=int64)

In [10]:
# potential_label içerisindeki below_average sınıfını veri setinden kaldırınız.
df = df.loc[~(df["potential_label"] == "below_average")]
df["potential_label"].unique()

array(['average', 'highlighted'], dtype=object)

In [12]:
"""
Oluşturduğunuz veri setinden “pivot_table” fonksiyonunu kullanarak bir tablo oluşturunuz.
İndekste “player_id”,“position_id” ve “potential_label”, sütunlarda “attribute_id” ve değerlerde scout’ların oyunculara
verdiği puan “attribute_value” olacak şekilde pivot table’ı oluşturunuz
"""

pivot_df = pd.pivot_table(df, values="attribute_value", index=["player_id", "position_id", "potential_label"], columns=["attribute_id"])
pivot_df.head()

attribute_id                            4322   4323   4324   4325   4326   4327   4328   4329   4330   4332   4333   4335   4338   4339   4340   4341   4342   4343   4344   4345   4348   4349   4350   4351   4352   4353   4354   4355   4356   4357   4407   4408   4423   4426
player_id position_id potential_label
1355710   7           average         50.500 50.500 34.000 50.500 45.000 45.000 45.000 45.000 50.500 56.000 39.500 34.000 39.500 39.500 45.000 45.000 50.500 28.500 23.000 39.500 28.500 28.500 45.000 50.500 56.000 34.000 39.500 50.500 34.000 34.000 56.000 34.000 34.000 56.000
1356362   9           average         67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
1356375   3           average         67.000 67.000 67.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 78.000 56.000 67.000 67.000 67.000 67.000 67.000 56.000 56.000 67.000 67.000 56.000 56.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
          4           average         67.000 78.000 67.000 67.000 67.000 78.000 78.000 78.000 56.000 67.000 67.000 67.000 78.000 78.000 56.000 67.000 67.000 45.000 45.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 56.000 67.000 56.000 67.000 45.000 56.000
1356411   9           average         67.000 67.000 78.000 78.000 67.000 67.000 67.000 67.000 89.000 78.000 67.000 67.000 67.000 56.000 56.000 67.000 78.000 56.000 56.000 67.000 56.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 89.000 56.000 67.000 78.000

In [15]:
pivot_df = pivot_df.reset_index()
pivot_df.columns = pivot_df.columns.astype(str)
pivot_df.head()

attribute_id  level_0  index  player_id  position_id potential_label   4322   4323   4324   4325   4326   4327   4328   4329   4330   4332   4333   4335   4338   4339   4340   4341   4342   4343   4344   4345   4348   4349   4350   4351   4352   4353   4354   4355   4356   4357   4407   4408   4423   4426
0                   0      0    1355710            7         average 50.500 50.500 34.000 50.500 45.000 45.000 45.000 45.000 50.500 56.000 39.500 34.000 39.500 39.500 45.000 45.000 50.500 28.500 23.000 39.500 28.500 28.500 45.000 50.500 56.000 34.000 39.500 50.500 34.000 34.000 56.000 34.000 34.000 56.000
1                   1      1    1356362            9         average 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
2                   2      2    1356375            3         average 67.000 67.000 67.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 78.000 56.000 67.000 67.000 67.000 67.000 67.000 56.000 56.000 67.000 67.000 56.000 56.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
3                   3      3    1356375            4         average 67.000 78.000 67.000 67.000 67.000 78.000 78.000 78.000 56.000 67.000 67.000 67.000 78.000 78.000 56.000 67.000 67.000 45.000 45.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 56.000 67.000 56.000 67.000 45.000 56.000
4                   4      4    1356411            9         average 67.000 67.000 78.000 78.000 67.000 67.000 67.000 67.000 89.000 78.000 67.000 67.000 67.000 56.000 56.000 67.000 78.000 56.000 56.000 67.000 56.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 89.000 56.000 67.000 78.000

In [16]:
# Label Encoder fonksiyonunu kullanarak “potential_label” kategorilerini (average, highlighted) sayısal olarak ifade ediniz
pivot_df["potential_label"] = LabelEncoder().fit_transform(pivot_df["potential_label"])
pivot_df.head()

attribute_id  level_0  index  player_id  position_id  potential_label   4322   4323   4324   4325   4326   4327   4328   4329   4330   4332   4333   4335   4338   4339   4340   4341   4342   4343   4344   4345   4348   4349   4350   4351   4352   4353   4354   4355   4356   4357   4407   4408   4423   4426
0                   0      0    1355710            7                0 50.500 50.500 34.000 50.500 45.000 45.000 45.000 45.000 50.500 56.000 39.500 34.000 39.500 39.500 45.000 45.000 50.500 28.500 23.000 39.500 28.500 28.500 45.000 50.500 56.000 34.000 39.500 50.500 34.000 34.000 56.000 34.000 34.000 56.000
1                   1      1    1356362            9                0 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
2                   2      2    1356375            3                0 67.000 67.000 67.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 78.000 56.000 67.000 67.000 67.000 67.000 67.000 56.000 56.000 67.000 67.000 56.000 56.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 67.000 67.000 56.000 78.000
3                   3      3    1356375            4                0 67.000 78.000 67.000 67.000 67.000 78.000 78.000 78.000 56.000 67.000 67.000 67.000 78.000 78.000 56.000 67.000 67.000 45.000 45.000 56.000 67.000 67.000 67.000 67.000 78.000 67.000 67.000 67.000 56.000 67.000 56.000 67.000 45.000 56.000
4                   4      4    1356411            9                0 67.000 67.000 78.000 78.000 67.000 67.000 67.000 67.000 89.000 78.000 67.000 67.000 67.000 56.000 56.000 67.000 78.000 56.000 56.000 67.000 56.000 67.000 56.000 67.000 67.000 56.000 67.000 67.000 56.000 67.000 89.000 56.000 67.000 78.000

In [18]:
# Sayısal değişken kolonlarını “num_cols” adıyla bir listeye atayınız.
def grab_col_names(dataframe, cat_th=10, car_th=20):
    
    # cat_cols, cat_but_car
    # 1- Categorical variables
    cat_cols = [col for col in dataframe.columns if dataframe[col].dtypes == "O"]
    
    # 2- Numeric but actually categorical (class)
    num_but_cat = [col for col in dataframe.columns if dataframe[col].nunique() < cat_th and
                        dataframe[col].dtypes != "O"]
    
    # 3 - Categorical but actually each cardinal, that is, unique
    cat_but_car = [col for col in dataframe.columns if dataframe[col].nunique() > car_th and
                        dataframe[col].dtypes == "O"]
    
    # 4 - Collect the cat_cols and num_but_cat variables
    cat_cols = cat_cols + num_but_cat
    
    # 5- Subtract the cardinal variable from cat_cols
    cat_cols = [col for col in cat_cols if col not in cat_but_car]

    # num_cols
    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes != "O"]
    num_cols = [col for col in num_cols if col not in num_but_cat]

    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')
    return cat_cols, num_cols, cat_but_car, num_but_cat

cat_cols, num_cols, cat_but_car, num_but_cat = grab_col_names(pivot_df)

Observations: 271
Variables: 39
cat_cols: 7
num_cols: 32
cat_but_car: 0
num_but_cat: 7

In [19]:
num_cols.remove("player_id")

In [20]:
# Kaydettiğiniz bütün “num_cols” değişkenlerindeki veriyi ölçeklendirmek için StandardScaler uygulayınız
pivot_df[num_cols] = StandardScaler().fit_transform(pivot_df[num_cols])
pivot_df.head()

attribute_id  level_0  index  player_id  position_id  potential_label   4322   4323   4324   4325   4326   4327   4328   4329   4330   4332   4333   4335   4338   4339   4340   4341   4342   4343   4344   4345   4348   4349   4350   4351   4352   4353   4354   4355   4356   4357   4407   4408   4423   4426
0              -1.726 -1.726    1355710            7                0 -0.543 -0.559 34.000 -0.438 -0.767 -0.795 45.000 -0.792 -0.446 -0.123 -1.224 -1.036 -1.126 -1.009 -0.542 -0.690 -0.535 -1.067 -1.206 -1.005 -1.314 -1.042 -0.693 -0.436 56.000 -1.282 -1.132 -0.495 -1.235 34.000 -0.143 -1.487 34.000 -0.253
1              -1.713 -1.713    1356362            9                0  0.595  0.561 67.000  0.683  0.723  0.723 67.000  0.404  0.728  0.691  0.459  0.996  0.632  0.840  0.912  0.799  0.588  1.230  0.750  0.742  0.879  0.670  0.848  0.717 67.000  0.814  1.053  0.632  0.915 67.000  0.530  0.669 56.000  1.042
2              -1.700 -1.700    1356375            3                0  0.595  0.561 67.000  0.683  0.723  0.723 67.000  1.002  0.728  0.691  1.132  0.319  0.632  0.840  0.912  0.799  0.588  0.574  0.750  0.742  0.879  0.670  0.077  0.717 67.000  0.814  1.053  0.632  0.915 67.000  0.530  0.669 56.000  1.042
3              -1.687 -1.687    1356375            4                0  0.595  1.308 67.000  0.683  0.723  1.482 78.000  1.002 -0.055  0.691  0.459  0.996  1.335  1.580  0.185  0.799  0.588 -0.083  0.098  0.043  0.879  1.355  0.848  0.717 78.000  0.814  0.428  0.632  0.198 67.000 -0.143  0.669 45.000 -0.253
4              -1.675 -1.675    1356411            9                0  0.595  0.561 78.000  1.430  0.723  0.723 67.000  0.404  2.294  1.505  0.459  0.996  0.632  0.101  0.185  0.799  1.337  0.574  0.750  0.742  0.252  1.355  0.077  0.717 67.000  0.115  0.428  0.632  0.198 67.000  1.874 -0.050 67.000  1.042

In [21]:
# Elimizdeki veri seti üzerinden minimum hata ile futbolcuların potansiyel etiketlerini tahmin eden bir makine öğrenmesi modeli
# geliştiriniz. (Roc_auc, f1, precision, recall, accuracy metriklerini yazdırınız.)

X = pivot_df.drop(["potential_label", "player_id"], axis=1)
y = pivot_df["potential_label"]

In [22]:
# Elimizdeki veri seti üzerinden minimum hata ile futbolcuların potansiyel etiketlerini tahmin eden bir makine öğrenmesi
# modeli geliştiriniz. (Roc_auc, f1, precision, recall, accuracy)
def base_models(X, y, scoring="roc_auc"):
    print("Base Models....")
    models = [('LR', LogisticRegression()),
          ("KNN", KNeighborsClassifier()),
          ("CART", DecisionTreeClassifier()),
          ("RF", RandomForestClassifier()),
          ('GBM', GradientBoostingClassifier()),
          #('XGBoost', XGBClassifier(use_label_encoder=False, eval_metric='logloss')),
          #("LightGBM", LGBMClassifier()),
          #('CatBoost', CatBoostClassifier(verbose=False))
             ]

    for name, classifier in models:
        cv_results = cross_validate(classifier, X, y, cv=3, scoring=scoring)
        print(f"{scoring}: {round(cv_results['test_score'].mean(), 4)} ({name}) ")
        
base_models(X,y)

Base Models....
roc_auc: 0.7941 (LR)
roc_auc: 0.7411 (KNN)
roc_auc: 0.699 (CART)
roc_auc: 0.8724 (RF)
roc_auc: 0.8151 (GBM)

In [24]:
# f1 scores
base_models(X, y, scoring="f1")

Base Models....
f1: 0.4444 (LR)
f1: 0.219 (KNN)
f1: 0.4365 (CART)
f1: 0.511 (RF)
f1: 0.4922 (GBM)

In [25]:
# recall scores
base_models(X, y, scoring="recall")

Base Models....
recall: 0.3402 (LR)
recall: 0.1433 (KNN)
recall: 0.4474 (CART)
recall: 0.5507 (RF)
recall: 0.5526 (GBM)

In [26]:
# accuracy scores
base_models(X, y, scoring="accuracy")

Base Models....
accuracy: 0.8266 (LR)
accuracy: 0.7897 (KNN)
accuracy: 0.7971 (CART)
accuracy: 0.7353 (RF)
accuracy: 0.7681 (GBM)

In [27]:
# precision scores
base_models(X, y, scoring="precision")

Base Models....
precision: 0.6843 (LR)
precision: 0.5278 (KNN)
precision: 0.4935 (CART)
precision: 0.725 (RF)
precision: 0.6081 (GBM)

In [ ]:
# Hiperparametre Optimizasyonu

catboost_model = CatBoostClassifier(random_state=17, verbose=False)

catboost_params = {"iterations": [200, 500],
                   "learning_rate": [0.01, 0.1],
                   "depth": [3, 6]}

catboost_grid = GridSearchCV(catboost_model, catboost_params, cv=5, n_jobs=-1, verbose=False).fit(X, y)

catboost_final = catboost_model.set_params(**catboost_grid.best_params_, random_state=17).fit(X, y)

In [ ]:
# Final Model
cv_results = cross_validate(catboost_final, X, y, cv=5, scoring=["accuracy", "f1", "roc_auc", "precision"])

In [ ]:
print(cv_results['test_accuracy'].mean())
print(cv_results['test_f1'].mean() )
print(cv_results['test_roc_auc'].mean())
print(cv_results['test_precision'].mean() )

In [30]:
# Değişkenlerin önem düzeyini belirten feature_importance fonksiyonunu kullanarak özelliklerin sıralamasını çizdiriniz.

def plot_importance(model, features, num=len(X), save=False):
    feature_imp = pd.DataFrame({'Value': model.feature_importances_, 'Feature': features.columns})
    plt.figure(figsize=(10, 10))
    sns.set(font_scale=1)
    sns.barplot(x="Value", y="Feature", data=feature_imp.sort_values(by="Value",
                                                                     ascending=False)[0:num])
    plt.title('Features')
    plt.tight_layout()
    plt.show()
    if save:
        plt.savefig('importances.png')

In [ ]:
plot_importance(catboost_final, X)